[submodule "chromium"]
	path = chromium
  ignore = dirty
	url = git://github.com/bigeasy/synapse.git
[submodule "npapi"]
	path = npapi
  ignore = dirty
	url = git://github.com/bigeasy/synapse.git
[submodule "peer"]
	path = peer
  ignore = dirty
	url = git://github.com/bigeasy/synapse.git
